<form method="POST">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <a><button type="submit" class="btn btn-primary">Submit</button></a>
</form>