<div class="bg">
    <div class="log">
        <button>
            <a href="/teacher/login">Teacher Login</a>
        </button>
    </div>
    <div class="log">
        <button>
            <a href="/student/login">Student Login</a>
        </button>
    </div>
</div>